#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_STM32H743VIT6_CT2022


if LCD_FT80X_SPI

config STM32H7_FT80X_INITFREQUENCY
	int "FT80x initialization frequency"
	default 400000
	range 400000 11000000

config STM32H7_FT80X_OPFREQUENCY
	int "FT80x operational frequency"
	default 20000000
	range 400000 30000000

endif # LCD_FT80X_SPI && (STM32_SPI1 || STM32_SPI2)

endif # ARCH_BOARD_STM32H743VIT6_CT2022
