#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#


config EXAMPLES_THERMAL_CAMERA
	tristate "Infrared camera example"
	default n
	depends on CAMERA_LEPTON && LCD_FT80X
	---help---
		Enable the INFRARED CAMERA example

if EXAMPLES_THERMAL_CAMERA

config EXAMPLES_LEPTON_DEGREES_UNIT
	bool "Temperature unit in degrees"
	default y
	
config EXAMPLES_LEPTON_DEVPATH
	string "LEPTON device path"
	default "/dev/lepton" if CAMERA_LEPTON

config EXAMPLES_FT80X_DEVPATH
	string "FT80x device path"
	default "/dev/ft800" if LCD_FT800
	default "/dev/ft801" if LCD_FT801

config EXAMPLES_FT80X_PRIMITIVES
	bool "Enable primitive examples"
	default n
	---help---
		Enable some low level tests of GPU primitives.  Not very interesting
		for the most part.

config EXAMPLES_FT80X_EXCLUDE_BITMAPS
	bool "Exclude bitmaps"
	default n
	---help---
		On some very minimal platforms, you might want to exclude bitmaps
		which will require 10 s of kilobytes of memory (probably FLASH
		memory, depending on the CPU and the linker script.)

config EXAMPLES_USB_DEVPATH
	string "USB device path"
	default "/dev/ttyACM1" if CONFIG_CDCACM

config EXAMPLES_THERMAL_CAMERA_PROGNAME
	string "infrared camera program name"
	default "thermal_camera"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_THERMAL_CAMERA_PRIORITY
	int "Infrared camera task priority"
	default 100

config EXAMPLES_THERMAL_CAMERA_STACKSIZE
	int "Infrared camera stack size"
	default DEFAULT_TASK_STACKSIZE

endif
