#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#


config EXAMPLES_THERMAL_CAMERA
	tristate "Thermal camera example"
	default n
	depends on CAMERA_LEPTON || LCD_FT80X_SPI || USBDEV
	---help---
		Enable the THERMAL CAMERA example

if EXAMPLES_THERMAL_CAMERA

config EXAMPLES_LEPTON_DEGREES_UNIT
	bool "Temperature unit in degrees"
	depends on CAMERA_LEPTON
	default y
	
config EXAMPLES_LEPTON_DEVPATH
	string "LEPTON device path"
	depends on CAMERA_LEPTON
	default "/dev/lepton" if CAMERA_LEPTON

config EXAMPLES_FT80X_DEVPATH
	string "FT80x device path"
	depends on LCD_FT80X_SPI
	default "/dev/ft800" if LCD_FT800
	default "/dev/ft801" if LCD_FT801

config EXAMPLES_FT80X_PRIMITIVES
	bool "Enable primitive examples"
	depends on LCD_FT80X_SPI
	default n
	---help---
		Enable some low level tests of GPU primitives.  Not very interesting
		for the most part.

config EXAMPLES_FT80X_EXCLUDE_BITMAPS
	bool "Exclude bitmaps"
	depends on LCD_FT80X_SPI
	default n
	---help---
		On some very minimal platforms, you might want to exclude bitmaps
		which will require 10 s of kilobytes of memory (probably FLASH
		memory, depending on the CPU and the linker script.)

config EXAMPLES_USBDEV_INSTANCE
	int "USB device instance"
	depends on USBDEV
	default 8

config EXAMPLES_THERMAL_CAMERA_PROGNAME
	string "Thermal camera program name"
	default "thermal_camera"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_THERMAL_CAMERA_PRIORITY
	int "Thermal camera task priority"
	default 100

config EXAMPLES_THERMAL_CAMERA_STACKSIZE
	int "Thermal camera stack size"
	default DEFAULT_TASK_STACKSIZE

endif
